.about-banner {
  position: relative;
  height: 200px; 
  background-image: url("../../../public/assets/pexels-aboodi-18620051.jpg"); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 120px 0px 90px 0px;
}

.about-banner .overlay {
  position: absolute;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 77, 147, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-banner h1 {
  color: white;
  font-size: 36px;
  z-index: 1;
  font-weight: bold;
}
.extra-img {
  width: 100%;
  height: 420px;        
  object-fit: cover;         
  border-radius: 20px 50px 0px 40px;  
}

.features-section {
  position: relative;
  background-image: url("../../../public/assets/pexels-aboodi-18620051.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  margin-bottom: 20px;
  border-radius: 20px;
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 60, 120, 0.85),
    rgba(0, 0, 0, 0.7)
  );
}
.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  width: 90%;
  margin: auto;
  z-index: 2;
}
.feature-card {
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  padding: 35px 25px;
  text-align: center;
  border-radius: 16px;
  transition: all 0.4s ease;
  backdrop-filter: blur(6px);
}
.feature-card.vision {
  background: linear-gradient(
    to bottom,
    rgba(0, 60, 120, 0.85),
    rgba(255, 160, 0, 0.85)
  );
  color: #000;
}
.feature-card i {
  font-size: 42px;
  margin-bottom: 15px;
}
.feature-card:hover {
  transform: translateY(-12px) scale(1.03);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}
